.App {
    background-color: red;
    max-width: 20rem;
    height: 15rem;
    .container {
        color: blue;
    }
}
.display {
    background-color: grey;
}
.logo-container {
    background-color: red;
}